<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="resetPageCard">
    <form [formGroup]="resetform">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field>
          <input type="password" matInput name="password" formControlName="password" placeholder="Password"><br>
        </mat-form-field>

        <!-- <mat-form-field>
          <input type="confirmpassword" matInput formControlName="confirmpassword" placeholder="Confirm Password"><br>
        </mat-form-field>
         -->
        <button mat-raised-button name="reset" (click)="resetPassword()">Reset</button>

      </mat-card-content>
    </form>
  </mat-card>
</div>