<p>archive works!</p>
<div *ngIf="mynotes ? mynotes!=null: false" class="notescard">
    <div *ngFor="let note of mynotes; let i = index" display="flex">
        <mat-card class="z-depth-1">
            <div (click)="openDialog(note)">
                <mat-card-content>{{note.title}}</mat-card-content>
                <mat-card-content> {{note.description}}
                    <p> {{note.createdOn | date:'dd.MM.yyyy HH:mm:ss'}}</p>
                </mat-card-content>
            </div>
            <mat-card-footer class="matfooter">
                    <button mat-icon-button>
                            <mat-icon style="margin-right:0px;margin-left:0px">
                                add_alert
                            </mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon style="margin-right:0px;margin-left:0px">
                                person_add
                            </mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon style="margin-right:0px;margin-left:0px">
                                palette
                            </mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon style="margin-right:-1px;margin-left:-1px">
                                photo
                            </mat-icon>
                        </button>
                        <button mat-icon-button (click)="unarchiveNote(note)">
                            <mat-icon style="margin-right:0px;margin-left:0px">
                                unarchive
                            </mat-icon>
                        </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="margin-right:0px;margin-left:0px">
                        more_vert
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item >Delete permanently</button>
                    <button mat-menu-item >Add label</button>
                    <button mat-menu-item >Make A Copy</button>
                </mat-menu>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
