mat-card {
    height: auto;
    width: 220px;
    border-radius: 15px;
    margin: 3px 3px 3px 3px;

  }
  .notescard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 15em 0 10em;
    border-width: 1px;
  }
  .matfooter{
    height:50px;
  }