<mat-toolbar>
    <span>FORGOT-PASSWORD</span>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="space-around center">
 
    <mat-card-content >
        <form [formGroup]="forgotForm">
                <div>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button color="accent" (click)='onSubmit()'>Submit</button>

                <nav>
                    <a routerLink="/login" style="margin-left: 16px;">login</a>
                </nav>
            </div>

        </form>
    </mat-card-content>
</div>